header{
    background-color: rgb(164, 187, 142);
    width: 100%;
    height: 50%;
}
.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
  }
  .blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
  }
  .blog-header-logo:hover {
    text-decoration: none;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  }
  .display-4 {
    font-size: 2.5rem;
  }
  @media (min-width: 768px) {
    .display-4 {
      font-size: 3rem;
    }
  }
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  .nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  #logo{
    width: 15%;
    margin-left: 25px;
    } 
  #huge{
    padding-right: 100px;
  }
  #corazo{
    margin-right: 30px;
  }
  #chat{
    margin-right: 30px;
  }
  #comprias{
    margin-right: 30px;
  }
  #lupa{
    margin-left: 10px;
  }
  footer{
    width: 100%;
    height: 240px;
}
.ASUP{
    float: left;
    margin-left: 200px;
  }
  .INFO{
    float: left;
  }
  .ENCONT{
    float: left;
    margin-left: 200px;
  }
  .blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
    width: 100%;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }

 /* Original */

#mouse1{
    margin-top: 25px;
    margin-left: 75px;
    width: 400px;
    height: 375px;
}
.mousespc{
    display: block;
    float: right;
    margin-right: 180px;
    margin-top: 115px;
}
.deathadder{
    float: right;
    padding: 20px;
    margin-right: 50px;
}